#smiley {
	float: left;
	margin-bottom: 5px;
	margin-top: 450px;
	height: 150px;
}

#door {
	float:right;
	margin-right: 30px;
	width:auto;
	height: 250px;
}


#image{
    position:absolute;
    left:10px;
    z-index: -10;
    
}

#dog{
	margin-top: 200px;
	float: left;
}

#dog2{
	margin-top: 100px;
	float: left;
	margin-left: 200px;
}

#dog3{
	margin-top: 100px;
	float: left;
	margin-left: 200px;
}

